<div
  class="{{
    isSelected
      ? 'card bg-success-subtle'
      : isAbstract
      ? 'card bg-primary-subtle'
      : 'card'
  }}"
>
  <div class="card-body">
    <!-- chart -->
    <div id="chart">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [xaxis]="chartOptions.xaxis"
      ></apx-chart>
    </div>

    <!-- user section -->
    <div class="d-flex flex-row p-2 gap-3">
      <!-- text -->
      <div class="d-flex flex-column gap-1 flex-fill">
        <h3 class="text-2xl font-bold">
          {{ isAbstract ? "Recommandation" : item.user.username }}
        </h3>
        <p class="text-gray-500">
          {{ isAbstract ? "-----" : "+237 670 630 558" }}
        </p>
      </div>

      <!-- ahp score -->
      <div *ngIf="!isAbstract" class="">
        <app-circular-progress
          [value]="getAhpPercent(item.ahp_score)"
          [size]="80"
          color="#4caf50"
        ></app-circular-progress>
      </div>
    </div>
  </div>
</div>
