<div class="position-relative">
  <div class="admin-page-wrapper">
    <h5 class="mb-4">Create a New Job Listing!</h5>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-0 pb-2 d-flex align-items-center">
            <h6 class="font-16 mb-0 flex-grow-1">Create a Post</h6>
          </div>
          <div class="card-body">
            <div>
              <div class="row g-3">
                <!-- job title -->
                <div class="col-lg-12">
                  <div>
                    <label for="jobTitle" class="form-label font-15 fw-medium"
                      >Job Title
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      [(ngModel)]="job_title"
                      type="text"
                      class="form-control"
                      id="jobTitle"
                      placeholder="Job title"
                    />
                  </div>
                </div>

                <!-- job description -->
                <div class="col-lg-12">
                  <div>
                    <label
                      for="jobDescription"
                      class="form-label font-15 fw-medium"
                      >Job Description
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <textarea
                      [(ngModel)]="job_description"
                      class="form-control"
                      id="jobDescription"
                      rows="3"
                    ></textarea>
                  </div>
                </div>

                <!-- job criteria -->
                <div class="col-lg-12">
                  <!-- add criteria btn area -->
                  <div class="pb-3">
                    <button
                      (click)="addCriteria()"
                      class="btn btn-outline-secondary btn-sm"
                    >
                      <i class="bi bi-plus"></i>
                      Add criteria
                    </button>
                  </div>

                  <table class="table table-hover table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Criteria</th>
                        <th scope="col">Value</th>
                        <th scope="col">
                          Importance

                          <button
                            type="button"
                            class="btn btn-primary btn-sm rounded-pill p-1 px-2 ms-2"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModal"
                          >
                            Help
                          </button>
                        </th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody id="job-criteria-table">
                      <tr *ngFor="let criteria of criteriaList; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>
                          <input
                            [disabled]="!criteria.editable"
                            type="text"
                            class="form-control"
                            placeholder="Criteria"
                            [(ngModel)]="criteria.title"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Value"
                            [(ngModel)]="criteria.value"
                          />
                        </td>
                        <td>
                          <input
                            type="text"
                            class="form-control"
                            placeholder="Weight"
                            [(ngModel)]="criteria.weight"
                          />
                        </td>
                        <td>
                          <button
                            (click)="removeCriteria(i)"
                            [disabled]="!criteria.editable"
                            class="btn btn-sm btn-danger"
                          >
                            <i class="bi bi-x"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <!-- Available place -->
                <div class="col-lg-4">
                  <div>
                    <label for="emailInput" class="form-label font-15 fw-medium"
                      >Available place
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      [(ngModel)]="job_available_place"
                      type="number"
                      class="form-control"
                      placeholder="Available place"
                    />
                  </div>
                </div>

                <!-- job work time -->
                <div class="col-lg-4">
                  <div>
                    <label for="workTime" class="form-label font-15 fw-medium"
                      >Work time
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <select
                      [(ngModel)]="job_work_time"
                      class="form-select"
                      aria-label="Default select example"
                      id="workTime"
                    >
                      <option selected disabled>Select work time</option>
                      <option value="Full Time">Full Time</option>
                      <option value="Part Time">Part Time</option>
                    </select>
                  </div>
                </div>

                <!-- job work place -->
                <div class="col-lg-4">
                  <div>
                    <label for="workPlace" class="form-label font-15 fw-medium"
                      >Work place
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <select
                      [(ngModel)]="job_work_place"
                      class="form-select"
                      aria-label="Default select example"
                      id="workPlace"
                    >
                      <option selected disabled>Select work place</option>
                      <option value="On-site">On-site</option>
                      <option value="Remote">Remote</option>
                    </select>
                  </div>
                </div>

                <!-- job email contact -->
                <div class="col-lg-4">
                  <div>
                    <label for="emailInput" class="form-label font-15 fw-medium"
                      >Email Address
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      [(ngModel)]="job_email_address"
                      type="email"
                      class="form-control"
                      id="emailInput"
                      placeholder="Email address"
                    />
                  </div>
                </div>

                <!-- job phone contact -->
                <div class="col-lg-4">
                  <div>
                    <label for="telinput" class="form-label font-15 fw-medium"
                      >Phone Address
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      [(ngModel)]="job_phone_address"
                      type="tel"
                      class="form-control"
                      id="telinput"
                      placeholder="Phone address"
                    />
                  </div>
                </div>

                <!-- job author -->
                <div class="col-lg-4">
                  <div>
                    <label
                      for="userNameInput"
                      class="form-label font-15 fw-medium"
                      >Author <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      [(ngModel)]="job_author"
                      type="text"
                      class="form-control"
                      id="userNameInput"
                      placeholder="Author name"
                    />
                  </div>
                </div>

                <!-- job salary -->
                <div class="col-lg-6">
                  <div>
                    <label
                      for="jobTypeInput"
                      class="form-label font-15 fw-medium"
                      >Job Salary
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <div class="input-group mb-3">
                      <input
                        [(ngModel)]="job_salary_min"
                        type="number"
                        class="form-control"
                        placeholder="From (min)"
                      />
                      <span class="input-group-text">$</span>
                      <input
                        [(ngModel)]="job_salary_max"
                        type="number"
                        class="form-control"
                        placeholder="To (max)"
                        aria-label="Server"
                      />
                    </div>
                  </div>
                </div>

                <!-- job deadline -->
                <div class="col-lg-6">
                  <div>
                    <label
                      for="deadlineDateInput"
                      class="form-label font-15 fw-medium"
                      >Application Deadline Date
                      <span class="text-danger fw-bold">*</span></label
                    >
                    <input
                      [(ngModel)]="job_deadline"
                      type="date"
                      class="form-control"
                      id="deadlineDateInput"
                      placeholder="Application deadline"
                    />
                  </div>
                </div>

                <!-- job location -->
                <div class="col-lg-12">
                  <div>
                    <label
                      for="locationInput"
                      class="form-label font-15 fw-medium"
                      >Location
                      <span
                        *ngIf="job_work_place == 'On-site'"
                        class="text-danger fw-bold"
                        >*</span
                      ></label
                    >
                    <input
                      [(ngModel)]="job_location"
                      type="text"
                      class="form-control"
                      id="locationInput"
                      placeholder="Location"
                    />
                  </div>
                </div>

                <!-- job btn submit -->
                <div class="col-lg-12 text-end">
                  <button
                    [disabled]="isLoading"
                    (click)="createJobOffer()"
                    type="button"
                    class="btn btn-secondary"
                  >
                    <span
                      *ngIf="isLoading"
                      class="spinner-border spinner-border-sm me-2"
                    ></span>
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>

<!-- job importance helper modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Criteria importance</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        This field is used to indicate the level of urgency or priority of the
        criterion. It must be unique among the criteria in the list to ensure
        clear management of priorities.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
