<div
  class="bg-light min-vh-100 d-flex align-items-center justify-content-center"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-5">
        <!-- go to website -->
        <a routerLink="/" class="small text-decoration-underline text-center"
          >Go to home</a
        >
        <div class="card border-0 shadow-md">
          <div class="card-body p-4 m-2">
            <h4 class="mb-4">Sign In</h4>
            <a href="#!" class="btn btn-link border w-100 text-danger"
              ><i class="bi bi-google me-1"></i> Continue with Google</a
            >

            <div class="text-muted py-4 text-center">OR</div>

            <div>
              <div>
                <div class="mb-3">
                  <label
                    for="userNameEmail"
                    class="form-label font-15 fw-medium"
                    >Username</label
                  >
                  <input
                    [(ngModel)]="email"
                    type="text"
                    class="form-control"
                    id="userNameEmail"
                    placeholder="Enter username / email"
                  />
                </div>
                <div class="mb-4">
                  <label
                    for="exampleInputPassword1"
                    class="form-label font-15 fw-medium"
                    >Password</label
                  >
                  <input
                    [(ngModel)]="password"
                    type="password"
                    class="form-control"
                    id="exampleInputPassword1"
                    placeholder="Enter password"
                  />
                  <div class="text-end pt-1">
                    <a href="#!" class="text-end text-success font-14 fw-medium"
                      >Forgot Password ?</a
                    >
                  </div>
                </div>
                <button
                  (click)="handleLogin()"
                  [disabled]="isLoading"
                  type="submit"
                  class="btn btn-secondary w-100"
                >
                  <span
                    *ngIf="isLoading"
                    class="spinner-border spinner-border-sm me-2"
                  ></span>
                  Sign In
                </button>
              </div>

              <p class="mb-0 text-muted font-14 mt-3 text-center">
                Need an account?
                <a class="fw-medium" routerLink="/register">Sign Up</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
