<div
  class="bg-light min-vh-100 d-flex align-items-center justify-content-center"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-5">
        <!-- go to website -->
        <a routerLink="/" class="small text-decoration-underline text-center"
          >Go to home</a
        >
        <div class="card">
          <div class="card-body p-4 m-2">
            <h4 class="mb-4">Sign Up</h4>
            <!-- select profile -->
            <label for="" class="mb-2">Select your profile</label>
            <div class="col-12 gap-4 mb-3">
              <button
                (click)="selectedProfile = 'jobseeker'"
                class="btn fw-semibold col-md-6"
                [ngClass]="{ 'btn-secondary': selectedProfile == 'jobseeker' }"
              >
                Jobseeker
              </button>
              <button
                (click)="selectedProfile = 'emplyee'"
                class="btn fw-semibold col-md-6"
                [ngClass]="{ 'btn-secondary': selectedProfile == 'emplyee' }"
              >
                Employee
              </button>
            </div>
            <a href="#!" class="btn btn-link border w-100 text-danger"
              ><i class="bi bi-google me-1"></i> Continue with Google</a
            >

            <div class="text-muted py-4 text-center">OR</div>

            <div>
              <div>
                <div class="row g-3">
                  <div class="col-lg-6">
                    <div>
                      <label
                        for="firstName"
                        class="form-label font-15 fw-medium"
                        >First Name</label
                      >
                      <input
                        [(ngModel)]="firstName"
                        type="text"
                        class="form-control"
                        id="firstName"
                        placeholder="First Name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div>
                      <label for="lastName" class="form-label font-15 fw-medium"
                        >Last Name</label
                      >
                      <input
                        [(ngModel)]="lastName"
                        type="text"
                        class="form-control"
                        id="lastName"
                        placeholder="Last Name"
                      />
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <label
                      for="userNameEmail"
                      class="form-label font-15 fw-medium"
                      >Username</label
                    >
                    <input
                      [(ngModel)]="username"
                      type="text"
                      class="form-control"
                      id="userNameEmail"
                      placeholder="Enter username"
                    />
                  </div>
                  <div class="col-lg-12">
                    <label
                      for="exampleInputPassword1"
                      class="form-label font-15 fw-medium"
                      >Password</label
                    >
                    <input
                      [(ngModel)]="password"
                      type="password"
                      class="form-control"
                      placeholder="Enter password"
                    />
                  </div>

                  <div class="col-lg-12">
                    <label
                      for="exampleInputPassword1"
                      class="form-label font-15 fw-medium"
                      >Confirm password</label
                    >
                    <input
                      [(ngModel)]="confirmPassword"
                      type="password"
                      class="form-control"
                      placeholder="Enter password"
                    />
                  </div>
                  <div class="col-lg-12">
                    <button
                      (click)="register()"
                      class="btn btn-secondary w-100"
                    >
                      Sign Up
                    </button>
                  </div>
                </div>
              </div>

              <p class="mb-0 text-muted font-14 mt-3 text-center">
                Already have an account?
                <a class="fw-medium" routerLink="/login">Sign In</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
