<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-md-9">
        <h4 class="mb-3">Find Your Dream Jobs</h4>
        <p class="text-muted mb-0">
          Professional networking site LinkedIn has grown to become a major
          platform for both employers and candidates who're looking for the
          right job.
        </p>
      </div>
    </div>
  </div>
  <!-- /container-->
</div>

<section class="wrapper-box">
  <div class="container">
    <div class="row">
      <div class="col-xxl-3">
        <div class="card border-0">
          <div class="card-header bg-primary">
            <div class="d-flex align-items-center">
              <h6 class="card-title text-white flex-grow-1 mb-0">Filter</h6>
              <div class="flex-shrink-0">
                <a href="#!" class="link-light font-14">Clear all</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="mb-4">
              <h6 class="mb-3">Date Post</h6>
              <select class="form-select" aria-label="Default select example">
                <option value="1">Newest</option>
                <option value="1">Oldest</option>
                <option value="2">Anytime</option>
                <option value="3">This Month</option>
              </select>
            </div>
            <div class="mb-4">
              <h6 class="mb-3">Job Type</h6>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="allSelect"
                />
                <label class="form-check-label text-muted" for="allSelect">
                  All Select
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="fullTime"
                />
                <label class="form-check-label text-muted" for="fullTime">
                  Full Time
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="partTime"
                  checked
                />
                <label class="form-check-label text-muted" for="partTime">
                  Part Time
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="remote"
                />
                <label class="form-check-label text-muted" for="remote">
                  Remote
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="freelancer"
                  checked
                />
                <label class="form-check-label text-muted" for="freelancer">
                  Freelancer
                </label>
              </div>
            </div>
            <div class="mb-4">
              <h6 class="mb-3">Range Salary</h6>
              <div class="mb-2">
                <input
                  type="range"
                  class="form-range"
                  min="0"
                  max="10"
                  id="rangeSlider"
                />
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="rangeSalary"
                  value=""
                  id="under500"
                />
                <label class="form-check-label text-muted" for="under500">
                  Under $500
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="rangeSalary"
                  value=""
                  id="under650"
                />
                <label class="form-check-label text-muted" for="under650">
                  Under $650
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="rangeSalary"
                  value=""
                  id="under800"
                  checked
                />
                <label class="form-check-label text-muted" for="under800">
                  Under $800
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="rangeSalary"
                  value=""
                  id="under1000"
                />
                <label class="form-check-label text-muted" for="under1000">
                  Under $1000
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="radio"
                  name="rangeSalary"
                  value=""
                  id="under1500"
                  checked
                />
                <label class="form-check-label text-muted" for="under1500">
                  Up to $1500
                </label>
              </div>
            </div>
            <div>
              <h6 class="mb-3">Experience Level</h6>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="allSelectex"
                />
                <label class="form-check-label text-muted" for="allSelectex">
                  All Select
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="Internship"
                />
                <label class="form-check-label text-muted" for="Internship">
                  Internship
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="Fresher"
                  checked
                />
                <label class="form-check-label text-muted" for="Fresher">
                  Fresher
                </label>
              </div>
              <div class="form-check mb-2">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="2Years"
                />
                <label class="form-check-label text-muted" for="2Years">
                  2+ Years
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  value=""
                  id="5Years"
                  checked
                />
                <label class="form-check-label text-muted" for="5Years">
                  5+ Years
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-9">
        <div class="row g-3 mb-4">
          <div class="col-lg-5">
            <div class="fliter_inpur position-relative">
              <i class="bi bi-search"></i>
              <input
                type="text"
                class="form-control"
                id="searchInput"
                placeholder="Search for jobs, salary ..."
              />
            </div>
          </div>
          <div class="col-lg-5">
            <div class="fliter_inpur position-relative">
              <i class="bi bi-geo-alt"></i>
              <input
                type="text"
                class="form-control"
                id="searchInput"
                placeholder="Location ..."
              />
            </div>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-success w-100">
              <i class="bi bi-search align-baseline me-1"></i> Find Jobs
            </button>
          </div>
        </div>
        <p class="text-muted font-15 text-end"><b>1523</b> Jobs Search</p>

        <div class="row">
          <!-- loader -->
          <div
            *ngIf="isJobLoading"
            class="d-flex flex-row justify-content-center align-items-center p-5"
          >
            <span class="spinner-border text-primary"></span>
          </div>
          <!-- job item list -->
          <div
            *ngFor="let j of jobList; let i = index"
            class="col-lg-4 col-md-6"
          >
            <div class="card border-0 card-effect card-height">
              <div class="card-body vstack">
                <div class="mb-3">
                  <div class="float-end">
                    <button
                      type="button"
                      class="btn btn-warning btn-soft btn-bookmark"
                      data-bs-toggle="button"
                    >
                      <i class="bi bi-bookmark-star"></i>
                    </button>
                  </div>
                  <i class="bi bi-box fs-4 text-secondary"></i>
                  <div class="mt-3">
                    <h5 class="font-16">{{ j.title }}</h5>
                    <ul
                      class="d-flex align-items-center gap-2 list-unstyled mb-0 font-12 text-muted flex-wrap"
                    >
                      <li>
                        <i class="bi bi-geo-alt align-baseline me-1"></i>
                        {{ j.job_location }}
                      </li>
                      <li class="vr"></li>
                      <li>
                        <i class="bi bi-cash align-baseline me-1"></i>
                        {{ j.job_salary_min }}FCFA - {{ j.job_salary_max }}FCFA
                      </li>
                      <li class="vr"></li>
                      <li>63 Applicant</li>
                    </ul>
                  </div>
                </div>
                <div class="mb-auto">
                  <p class="font-14 text-truncate" style="max-height: 260px">
                    {{ j.job_description }}
                  </p>
                  <div class="hstack gap-2 flex-wrap mb-4">
                    <span class="badge bg-success-subtle text-success">{{
                      j.job_work_time
                    }}</span>
                    <span class="badge bg-dark-subtle text-body">{{
                      j.job_work_place
                    }}</span>
                  </div>
                </div>
                <button
                  (click)="gotoJobDetails(j.id)"
                  type="button"
                  class="btn btn-secondary btn-sm btn-effect w-100 btn-soft"
                >
                  Apply Now
                  <i class="bi bi-arrow-right align-baseline ms-1"></i>
                </button>
              </div>
            </div>
          </div>
          <!-- .col-->
        </div>
      </div>
    </div>
  </div>
</section>

<section class="wrapper-box bg-success-subtle overflow-hidden">
  <i
    class="bi bi-briefcase position-absolute text-success opacity-25 job_bag-icon"
  ></i>
  <i
    class="bi bi-envelope position-absolute text-success opacity-25 job_email-icon"
  ></i>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h2 class="text-capitalize lh-base mb-0">
            Get the Latest <span class="text-success">news & updates</span> from
            our company
          </h2>
        </div>
      </div>
      <!-- /col-->
      <div class="col-lg-7">
        <form action="#!" class="subcribe-input position-relative">
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="Enter your email"
          />
          <button class="btn btn-success">Subscribe</button>
        </form>
      </div>
    </div>
    <!-- /row-->
  </div>
  <!--/container-->
</section>
