<div class="position-relative">
  <div class="admin-page-wrapper">
    <h5 class="mb-4">Manage Candidates!</h5>

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-0 pb-2 d-flex align-items-center">
            <div class="w-100 align-items-center gap-lg-0">
              <!-- job selector area -->
              <div class="col-lg-7 mb-3">
                <label for="job-selector">Select job</label>
                <select
                  [(ngModel)]="selectedJob"
                  name=""
                  id="job-selector"
                  class="form-select"
                >
                  <option value="null" disabled>Select value</option>
                  <option *ngFor="let j of jobList" [value]="j.id">
                    {{ j.title }}
                  </option>
                </select>
              </div>

              <div class="col-lg-6">
                <!-- <div class="flex flex-column justify-content-end align-items-end"> -->
                <button
                  (click)="getJobCandidatList()"
                  [disabled]="selectedJob == null"
                  class="btn btn-sm btn-secondary me-2"
                  type="button"
                >
                  Get submissions
                </button>

                <button
                  (click)="startSelection()"
                  [disabled]="
                    candidateList.length == 0 || selectedCandidat.length > 0
                  "
                  class="btn btn-sm btn-secondary me-2"
                  type="button"
                >
                  Start selection
                </button>

                <button
                  *ngIf="selectedCandidat.length > 0"
                  class="btn btn-sm btn-secondary"
                  type="button"
                  (click)="gotoresultPage()"
                >
                  Show result
                  <i class="bi bi-arrow-right"></i>
                </button>
                <!-- </div> -->
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table align-middle font-15" x-data="data()">
                <thead>
                  <tr>
                    <th click="sortByColumn">#</th>
                    <th click="sortByColumn">Name</th>
                    <th click="sortByColumn">Gender</th>
                    <th click="sortByColumn">Email</th>
                    <th click="sortByColumn">Contact Number</th>
                    <th click="sortByColumn">Action</th>
                  </tr>
                </thead>
                <tbody x-ref="tbody">
                  <tr *ngFor="let sc of candidateList; let i = index">
                    <td>1</td>
                    <td>
                      <div class="d-flex align-items-center gap-3">
                        <img
                          src="assets/images/feedback_client/client-01.jpg"
                          alt=""
                          class="square-xxs rounded"
                        />
                        <h6 class="mb-0 font-15">
                          {{ sc.job_seeker_username }}
                        </h6>
                      </div>
                    </td>
                    <td>...</td>
                    <td>...</td>
                    <td>...</td>
                    <td>
                      <div class="d-flex gap-3 flex-wrap">
                        <a href="#!" class="link-primary"
                          ><i class="bi bi-eye"></i
                        ></a>
                        <a
                          href="#!"
                          class="link-secondary"
                          data-bs-toggle="modal"
                          data-bs-target="#createModal"
                          ><i class="bi bi-pencil-square"></i
                        ></a>
                        <a href="#!" class="link-danger"
                          ><i class="bi bi-trash3"></i
                        ></a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- <div class="row align-items-center">
              <div class="col-lg-6">
                <p
                  class="mb-0 text-muted text-center text-lg-start font-14 mb-3 mb-lg-0"
                >
                  Showing <b>32</b> of <b>149</b> Jobs
                </p>
              </div>
              <div class="col-lg-6">
                <nav aria-label="Page navigation example">
                  <ul
                    class="pagination justify-content-center justify-content-lg-end mb-0 pagination-sm"
                  >
                    <li class="page-item">
                      <a
                        class="page-link square-xs"
                        href="#"
                        aria-label="Previous"
                      >
                        <i class="bi bi-chevron-left"></i>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link square-xs" href="#">1</a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link square-xs" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link square-xs" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link square-xs" href="#">4</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link square-xs" href="#" aria-label="Next">
                        <i class="bi bi-chevron-right"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function data() {
    return {
      sortBy: "",
      sortAsc: false,
      sortByColumn($event) {
        if (this.sortBy === $event.target.innerText) {
          if (this.sortAsc) {
            this.sortBy = "";
            this.sortAsc = false;
          } else {
            this.sortAsc = !this.sortAsc;
          }
        } else {
          this.sortBy = $event.target.innerText;
        }

        let rows = this.getTableRows()
          .sort(
            this.sortCallback(
              Array.from($event.target.parentNode.children).indexOf(
                $event.target
              )
            )
          )
          .forEach((tr) => {
            this.$refs.tbody.appendChild(tr);
          });
      },
      getTableRows() {
        return Array.from(this.$refs.tbody.querySelectorAll("tr"));
      },
      getCellValue(row, index) {
        return row.children[index].innerText;
      },
      sortCallback(index) {
        return (a, b) =>
          ((row1, row2) => {
            return row1 !== "" && row2 !== "" && !isNaN(row1) && !isNaN(row2)
              ? row1 - row2
              : row1.toString().localeCompare(row2);
          })(
            this.getCellValue(this.sortAsc ? a : b, index),
            this.getCellValue(this.sortAsc ? b : a, index)
          );
      },
    };
  }
</script>
