<body class="bg-light">
  <div
    class="offcanvas offcanvas-sidebar offcanvas-start bg-body-secondary"
    tabindex="-1"
    id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel"
  >
    <div
      class="sidebar-left fixed-bottom bg-body-secondary shadow-md top-0 bottom-0 left-0"
    >
      <div
        class="d-flex align-items-center justify-content-center navbar-brand"
      >
        <a href="#!">
          <img
            src="assets/images/logo-dark.png"
            alt=""
            height="26"
            class="dark"
          />
          <img
            src="assets/images/logo-light.png"
            alt=""
            height="26"
            class="light"
          />
        </a>
      </div>
      <div class="sidebar-navbar-menu">
        <ul class="list-unstyled">
          <li *ngFor="let item of sidebar_routes">
            <a href="{{ item.url }}" routerLinkActive="router-link-active"
              ><i class="{{ item.icon }}"></i> {{ item.title }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="admin-topbar shadow-md bg-body-secondary px-3">
    <!-- toggle drawer btn -->
    <div class="flex-grow-1">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
      >
        <span class="bi bi-list text-muted fs-2"></span>
      </button>
    </div>
    <div class="flex-shrink-0">
      <a class="btn btn-success" href="admin/create-job">Post Job</a>
    </div>
  </div>

  <!-- router outlet -->
  <router-outlet />

</body>